@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}
ul, li, ol {list-style:none;}

@media screen and (max-width:599px) {
	#wrap {width:100%; height:auto; margin:0 auto;}

      section {width:100%; height:auto; margin:0px auto;}

      #choose {width:100%; height:auto;}
      #choose > .choosebox {width:100%; height:auto; margin:0 auto; display:flex; flex-direction:column; justify-content:space-around; align-items:center;}

      #choose > .choosebox > .more {width:85%; height:500px; display:flex; align-items:center;}
      #choose > .choosebox > .more > img {width:100%; height:70%;}

      #choose > .choosebox > .what {width:90%; height:800px;}
      #choose > .choosebox > .what > h1 {font-size:50px; padding-top:30px; font-family: 'Rubik', sans-serif;}
      #choose > .choosebox > .what > p {color:#4d4d4d; line-height:30px; padding-top:30px; padding-bottom:50px; font-family: 'Rubik', sans-serif;}
      #choose > .choosebox > .what > .button1 {width:160px; height:50px; border-radius:50px; color:#fff; background:linear-gradient(to right, #5E1381, #A702DF); font-weight:bold; border:none; margin-right:2%; cursor:pointer; font-family: 'Rubik', sans-serif;}
      #choose > .choosebox > .what > .button2 {width:160px; height:50px; border-radius:50px; color:#fff; background-color:#000; font-weight:bold; border:none; cursor:pointer; font-family: 'Rubik', sans-serif;}
      
      #event {width:100%; height:auto; background-image:url(img/event.jpg); background-position:top; background-size:cover;}
      #event > .eventbox {width:100%; height:3500px; margin:0 auto; position:relative;}

      #event > .eventbox > .img_box1 {width:90%; height:450px; position:absolute; top:100px; left:5%; background-image:url(img/event1.jpg); background-position:center; background-size:cover; cursor:pointer;}
      #event > .eventbox > .img_box1 > .text {position:absolute; left:20px; bottom:20px; width:70%; height:100px;}
      #event > .eventbox > .img_box1 > .text > h3 {background-color:#9A24c1; color:#fff; font-weight:normal; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}
      #event > .eventbox > .img_box1 > .text > p {color:#fff; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}

      #event > .eventbox > .img_box2 {width:90%; height:300px; position:absolute; left:5%; top:600px; position:relative; background-image:url(img/event2.jpg); background-position:center; background-size:cover; cursor:pointer;}
      #event > .eventbox > .img_box2 > .text {position:absolute; left:20px; bottom:20px; width:65%; height:100px;}
      #event > .eventbox > .img_box2 > .text > h3 {background-color:#9A24c1; color:#fff; font-weight:normal; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}
      #event > .eventbox > .img_box2 > .text > p {color:#fff; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}

      #event > .eventbox > .img_box3 {width:90%; height:300px; background-image:url(img/event3.jpg); background-position:center; background-size:cover; position:absolute; left:5%; top:950px; cursor:pointer;}
      #event > .eventbox > .img_box3 > .text {position:absolute; left:20px; bottom:20px; width:85%; height:100px;}
      #event > .eventbox > .img_box3 > .text > h3 {background-color:#9A24c1; color:#fff; font-weight:normal; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}
      #event > .eventbox > .img_box3 > .text > p {color:#fff; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}

      #event > .eventbox > .img_box4 {width:40%; height:200px; position:absolute; left:5%; top:1300px; cursor:pointer;}
      #event > .eventbox > .img_box4 > img {width:100%; height:100%;}

      #event > .eventbox > .img_box5 {width:40%; height:200px; position:absolute; right:5%; top:1300px; cursor:pointer;}
      #event > .eventbox > .img_box5 > img {width:100%; height:100%;}

      #event > .eventbox > .img_box6 {width:90%; height:280px; background-image:url(img/event6.jpg); background-position:center; background-size:cover; position:absolute; left:5%; top:1550px; cursor:pointer;}
      #event > .eventbox > .img_box6 > .text {position:absolute; left:20px; bottom:20px; width:68%; height:100px;}
      #event > .eventbox > .img_box6 > .text > h3 {background-color:#9A24c1; color:#fff; font-weight:normal; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}
      #event > .eventbox > .img_box6 > .text > p {color:#fff; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}

      #event > .eventbox > .img_box7 {width:90%; height:470px; background-image:url(img/event7.jpg); background-position:center; background-size:cover; position:absolute; left:5%; top:1880px; cursor:pointer;}
      #event > .eventbox > .img_box7 > .text {position:absolute; left:20px; bottom:20px; width:45%; height:100px;}
      #event > .eventbox > .img_box7 > .text > h3 {background-color:#9A24c1; color:#fff; font-weight:normal; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}
      #event > .eventbox > .img_box7 > .text > p {color:#fff; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}

      #event > .eventbox > .img_box8 {width:90%; height:310px; background-image:url(img/event8.jpg); background-position:center; background-size:cover; position:absolute; left:5%; top:2400px; cursor:pointer;}
      #event > .eventbox > .img_box8 > .text {position:absolute; left:20px; bottom:20px; width:53%; height:100px;}
      #event > .eventbox > .img_box8 > .text > h3 {background-color:#9A24c1; color:#fff; font-weight:normal; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}
      #event > .eventbox > .img_box8 > .text > p {color:#fff; width:100%; height:50px; padding:10px 0px 0px 17px; font-family: 'Rubik', sans-serif;}

      #event > .eventbox > .img_box9 {width:40%; height:130px; position:absolute; left:5%; top:2750px; cursor:pointer;}
      #event > .eventbox > .img_box9 > img {width:100%; height:100%;}

      #event > .eventbox > .img_box10 {width:40%; height:190px; position:absolute; right:5%; top:2750px; cursor:pointer;}
      #event > .eventbox > .img_box10 > img {width:100%; height:100%;}

      #event > .eventbox > .img_box11 {width:45%; height:200px; position:absolute; left:27%; top:2980px; cursor:pointer;}
      #event > .eventbox > .img_box11 > img {width:100%; height:100%;}
      
      #next {width:100%; height:auto;}

      #next > .nextbox {width:90%; height:95%; margin:0 auto; margin-top:50px; display:flex; flex-direction:column-reverse;}
      #next > .nextbox > h1 {text-align:center; font-size:55px; font-family: 'Rubik', sans-serif;}
      #next > .nextbox > p {text-align:center; padding:30px 0px 30px 0px; line-height:30px; color:#666; font-family: 'Rubik', sans-serif;}

      #next > .nextbox > .our {width:100%; height:90%; display:flex; flex-direction:column; justify-content:space-between; align-items:center;}
      #next > .nextbox > .our > .ourbox {width:95%; height:80%; margin:50px 0px 50px 0px;}
      #next > .nextbox > .our > .ourbox > img {width:100%; height:70%; cursor:pointer;}
      #next > .nextbox > .our > .ourbox > h3 {text-align:center; font-size:25px; padding-top:20px; font-family: 'Rubik', sans-serif;}
      #next > .nextbox > .our > .ourbox > h4 {text-align:center; color:gray; padding:20px 0px 20px 0px; font-family: 'Rubik', sans-serif;}
      #next > .nextbox > .our > .ourbox > h4 > span {color:#9A24c1;}
      #next > .nextbox > .our > .ourbox > p {text-align:center; color:#999; text-decoration:underline; font-weight:bold;}
      #next > .nextbox > .our > .ourbox > p > a {color:#999; font-family: 'Rubik', sans-serif;}
      #next > .nextbox > .our > .ourbox > p > a:hover {color:#9A24c1;}

      #newyork {width:100%; height:auto; background-image:url(img/newyork.jpg); background-position:bottom; background-size:cover;}

      #newyork > .in {width:100%; height:auto; margin:0 auto; display:flex; flex-direction:column-reverse; position:relative; top:500px; padding-top:50px;}
      #newyork > .in > .textbox {display:flex; flex-direction:column; justify-content:space-around; align-items:center; height:200px;}
      #newyork > .in > .textbox > h1 {font-size:50px; color:#fff; font-family: 'Rubik', sans-serif;}
      #newyork > .in > .textbox > select {width:200px; height:60px; font-weight:bold; color:#fff; background:linear-gradient(to right, #5E1381, #A702DF); border:2px solid #fff; border-radius:50px; padding-left:30px; cursor:pointer; font-family: 'Rubik', sans-serif;}
      #newyork > .in > .textbox > select > option {color:#fff; background-color:#9A24c1; font-family: 'Rubik', sans-serif;}

      #newyork > .in > .inbox {width:100%; height:1600px; margin-top:100px; display:flex; flex-wrap:wrap; justify-content:space-around;}
      #newyork > .in > .inbox > .box {width:40%; height:500px; margin-bottom:5%;}
      #newyork > .in > .inbox > .box > img {width:100%; height:380px; cursor:pointer;}
      #newyork > .in > .inbox > .box > img:hover {opacity:0.5;}
      #newyork > .in > .inbox > .box > h4 {text-align:center; color:#fff; font-size:18px; padding-top:15px; font-family: 'Rubik', sans-serif;}
      #newyork > .in > .inbox > .box > p {text-align:center; color:#fff; font-size:13px; padding-top:15px; font-weight:bold; font-family: 'Rubik', sans-serif;}
      #newyork > .in > .inbox > .box > p > span {color:#9A24c1;}

      #newyork > .partner {width:100%; height:650px; margin:0 auto; margin-top:500px; display:flex; flex-direction:column-reverse;}
      #newyork > .partner > h1 {font-size:50px; color:#fff; text-align:center; padding-bottom:50px; font-family: 'Rubik', sans-serif;}

      #newyork > .partner > .partnerbox {width:100%; height:550px; display:flex; flex-wrap:wrap; justify-content:center; padding-bottom:100px;}
      #newyork > .partner > .partnerbox > .box {width:45%; height:20%; display:flex; align-items:center; justify-content:center;}
      #newyork > .partner > .partnerbox > .box > a {display:flex; align-items:center; justify-content:center;}
      #newyork > .partner > .partnerbox > .box > a > img {width:100%; height:45px;}

      #subscribe {width:100%; height:550px; background-image:url(img/subscribe.jpg); background-position:center; background-size:cover;}
      #subscribe > .newsletter {width:90%; height:90%; margin:0 auto; display:flex; flex-direction:column; justify-content:center; align-items:center;}
      #subscribe > .newsletter > h1 {text-align:center; color:#fff; font-size:33px; padding-top:10%; font-family: 'Rubik', sans-serif;}
      #subscribe > .newsletter > h5 {text-align:center; color:#fff; font-size:20px; padding-top:30px; font-family: 'Rubik', sans-serif;}
      #subscribe > .newsletter > .name {width:85%; height:50px; border-radius:10px; border:none; padding-left:30px; margin-top:30px;}
      #subscribe > .newsletter > .email {width:85%; height:50px; border-radius:10px; border:none; padding-left:30px; margin:25px 0px 25px 0px;}
      #subscribe > .newsletter > button {color:#fff; background:linear-gradient(to right, #5E1381, #A702DF); border:2px solid #fff; border-radius:50px; width:170px; height:60px; font-weight:bold; font-size:16px; cursor:pointer; font-family: 'Rubik', sans-serif;}
}